<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>bienvenido</h1>
    
    <ul>
        {% for anime in animes %}
            <a href="{%  url 'animes:anime_details' anime.id %}"><h3> {{ anime.title }} ({{ anime.release_date }})</h3></a>
        {% endfor %}   
    </ul>

    <ul>
        <li>
            <a href="{% url 'animes:studio_list' %}">Lista de estudios</a>
        </li>
        <li><a href="{% url 'animes:genre_list' %}">Lista de generos</a></li>
    </ul>

    <form action="{% url 'logout' %}" method="post">
       {% csrf_token %}
       <button type="submit">Cerrar sesión</button>
   </form>



</body>
</html>